@{
    ViewBag.Title = "SisJuri - Sistema Administrador de Júri Simulado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content-wrapper" class="col-md-12">
    <div style="opacity: 1; transform: translateY(0px);" class="row">
        <div class="row">
            <div class="main-box">
                <div class="row">
                    @*<div class="alert alert-info fade in">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        
                        <strong>Seja bem-vindo ao SisJuri!</strong> Utilize o menu ao lado esquerdo para começar.
                    </div>*@
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <img class="img-responsive" src="/Content/assets/img/Logo_center_transparente.png" alt="">
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>